@model IEnumerable<TravelExpertsMVC.Models.BookingViewModel>

@{
    ViewData["Title"] = "BookingHistory";
}

@section Scripts {
    <script>
        const CHAR_OPEN = "\u2795";
        const CHAR_CLOSE = "\u2796";

        $( document ).ready(() =>
        {
            $(".toggle-detail-button").each((i, elem) =>
            {
                let elem_selector = "#" + elem.id;
                let detail_selector = "#" + elem.id.substring(0, elem.id.length - 4);
                $(detail_selector).toggle();
                $(elem_selector).click( () =>
                {
                    $(detail_selector).animate({
                        height: "toggle"
                    }, 300, () => 
                    {
                        if ($(elem_selector).text() == CHAR_CLOSE) {
                            $(elem_selector).text(CHAR_OPEN);
                        }
                        else {
                            console.log($(elem_selector).text())
                            $(elem_selector).text(CHAR_CLOSE);
                        }
                    })
                });
            });
        });
    </script>
}

<div class="col-md-6 mx-auto">
<h2 class="my-4">Your Booking History</h2>
@foreach(var Booking in Model)
{
    <div class="shadow-sm rounded-2 py-2 px-4 my-4">
        <div class="row justify-content-between pb-2">
            <span class="col-10 text-start">
                <strong>@Booking.BookingDate</strong>
                &nbsp;&mdash;&nbsp;
                @(Booking.Packaged ? $"{Booking.PackageName} \u2014 " : "")
                @Booking.TripType 
            </span>
            <strong class="col-2 money text-end">@Booking.TotalPrice</strong>
        </div>
        <div id="@($"b-{Booking.ID}-detail")">
        @foreach(var BookingItem in Booking.Items)
        {
            <div class="row pt-1 border-top">
                <span class="col-4">
                    @BookingItem.Product
                </span>
                <span class="col-6">
                    @BookingItem.Description
                </span>
                @if (Booking.Packaged == false)
                {   
                    <span class="col-2 money text-end">
                        @BookingItem.Price
                    </span>
                }
            </div>
            <div class="row pb-1 border-bottom">
                <span class="col-4">
                @if (BookingItem.Class != null && BookingItem.Class != "Not Applicable")
                {
                    @BookingItem.Class
                }
                </span>
                <span class="col-8 text-capitalize">
                    @($"{BookingItem.Supplier.ToLower()}")
                </span>
            </div>
        }
        </div>
        <div class="row justify-content-between pt-2">
                <span class="col-1 btn btn-close-white toggle-detail-button" id="@($"b-{Booking.ID}-detail-btn")">&#x2795;</span>
            <span class="col-11 text-end">@Booking.Identifier</span>
        </div>
    </div>
}
</div>